@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Raina bulvaris 29<br />
    Riga, Latvia<br />
    <abbr title="Phone">P:</abbr>
    999 999 999
</address>

<address>
    <strong>Support:</strong> <a href="mailto:tweetus@example.com">support@tweetus.com</a><br />
</address>

<div id="map" style="width: 500px; height: 400px;"></div>

@section scripts {
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script>
          function initialize(position) {
            var mapCanvas = document.getElementById('map');
            var mapOptions = {
                center: new google.maps.LatLng(position.coords.latitude, position.coords.longitude),
                zoom: 12,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            }
            var map = new google.maps.Map(mapCanvas, mapOptions)
          }

          function getLocation() {
              if (navigator.geolocation) {
                  navigator.geolocation.getCurrentPosition(initialize);
              } else {
                  alert("Geolocation is not supported by this browser.");
              }
          }

          google.maps.event.addDomListener(window, 'load', getLocation);
    </script>
}
