@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron margin-top">
    <h1>Welcome to Tweetus!</h1>
    <p>Connect with the world.</p>
    @if (!User.Identity.IsAuthenticated)
    {
        <p>
            <a asp-controller="Account" asp-action="Register" class="btn btn-primary btn-lg" role="button">Register</a>
            <a asp-controller="Account" asp-action="Login" class="btn btn-primary btn-lg" role="button">Log in</a>
        </p>
    }
    else
    {
        <p>
            <a asp-controller="User" asp-action="Dashboard" class="btn btn-primary btn-lg" role="button">Go to dashboard</a>
        </p>
    }
</div>
<hr />
<footer>
    &copy; 2015 - Tweetus
</footer>
