<div class="well">    
    <a asp-controller="Home" asp-action="Index"> Home</a> |
    <a asp-controller="Home" asp-action="About"> About</a> |
    <a asp-controller="Home" asp-action="Contact"> Contact</a>
    <br />
    &copy; 2015 - Tweetus
</div>

@*<div class="panel panel-default">
    <ul class="list-group">
        <li class="list-group-item"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> <a asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="list-group-item"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> <a asp-controller="Home" asp-action="About">About</a></li>
        <li class="list-group-item"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> <a asp-controller="Home" asp-action="Contact">Contact</a></li>
    </ul>
    <div class="panel-footer">&copy; 2015 - Tweetus </div>
</div>*@
