<div class="panel panel-primary" ng-repeat="tweet in vm.Tweets | orderBy: '-TweetedOn'">
    <div class="panel-heading">
        <h3 class="panel-title">
            <a  ng-href="/User/Profile?username={{tweet.TweetedByUserName}}"><strong>{{ tweet.TweetedByFullName }}</strong></a>
             @@{{ tweet.TweetedByUserName }} - {{ tweet.TweetedOn | date:'dd MMM HH:mm' }}
            <span class="label label-success" ng-show="tweet.RetweetedFromUserName">Retweeted from {{ tweet.RetweetedFromUserName }}</span>
        </h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12" style="word-wrap: break-word; font-size: 1.2em">
                <p>{{ tweet.Content }}</p>
            </div>
        </div>

        <img ng-src="{{tweet.ImageUrl}}" ng-show="tweet.ImageUrl.length > 0" class="img-responsive" />

        <div class="row margin-top" ng-show="tweet.Latitude > 0 && tweet.Longitude > 0">
            <div class="col-md-12" style="word-wrap: break-word; font-size: 1em">
                <p><b>Tweeted from: </b>{{ tweet.Address }}</p>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <button type="button" class="btn btn-default btn-sm" ng-click="openReply(tweet)">
            <span class="glyphicon glyphicon-comment"></span> Reply
        </button>
        <button type="button" class="btn btn-default btn-sm" ng-disabled="!tweet.CanRetweet" ng-click="retweet(tweet)">
            <span class="glyphicon glyphicon-retweet"></span> Retweet
        </button>
        <button type="button" class="btn btn-default btn-sm" ng-click="likeTweet(tweet)" ng-disabled="tweet.CurrentUserAlreadyLiked">
            <span class="glyphicon glyphicon-heart"></span> 
            <span ng-show="!tweet.CurrentUserAlreadyLiked">Like</span> 
            <span ng-show="tweet.CurrentUserAlreadyLiked">Liked</span>
        </button>
    </div>
    <div ng-attr-id="{{ tweet.TweetId }}" class="panel-collapse collapse" role="tabpanel">
        <div class="panel-body">
            @Html.Partial("_PostTweetPartial")
        </div>
    </div>   
</div>
