@{
    ViewBag.Title = "Search";
}

<div ng-app="tweetusApp">
    <div class="row ng-cloak" ng-cloak ng-controller="searchController">
        <form class="form-inline margin-top">
            <div class="form-group">
                <input type="text" class="form-control" id="name" placeholder="Username/Full name" ng-model="searchParam">
            </div>
            <button type="submit" class="btn btn-primary" ng-click="searchUsers()">Search</button>
        </form>
        <hr />
        <div class="list-group margin-top">
            <div class="alert alert-warning" role="alert" ng-show="userHasSearched && result.length == 0">
                No results were found.
            </div>
            <a ng-href="/User/Profile?username={{user.UserName}}" class="list-group-item" ng-repeat="user in result">
                <img ng-src="data:image/jpeg;base64,{{user.ProfilePictureBase64}}" ng-show="user.ProfilePictureBase64.length > 0" class="img-rounded img-responsive pull-left" style="width: 60px; height: 45px" />
                <img src="http://placehold.it/60x45" alt="..." class="img-rounded pull-left" ng-show="user.ProfilePictureBase64.length == 0">
                <div style="margin-left: 70px;">
                    <h4 class="list-group-item-heading">{{ user.FullName }} @@{{ user.UserName }}</h4>
                    <p class="list-group-item-text">{{ user.UserAbout }}</p>
                </div>
            </a>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/js/app.js"></script>
    <script src="~/js/services/userService.js"></script>
    <script src="~/js/controllers/searchController.js"></script>
}
